tbot-client/Connected Services/KF2ServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/KF2Service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/KF2Service/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Status">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" minOccurs="0" name="StatusResult" nillable="true" type="q1:ResponseValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeGameType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gametype" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeGameTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" minOccurs="0" name="ChangeGameTypeResult" nillable="true" type="q2:ResponseValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="map" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" minOccurs="0" name="ChangeMapResult" nillable="true" type="q3:ResponseValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeGametypeAndMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gametype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="map" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeGametypeAndMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" minOccurs="0" name="ChangeGametypeAndMapResult" nillable="true" type="q4:ResponseValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Online">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" minOccurs="0" name="OnlineResult" nillable="true" type="q5:ResponseValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Kick">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KickResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" minOccurs="0" name="KickResult" nillable="true" type="q6:ResponseValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GamePasswordOn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GamePasswordOnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" minOccurs="0" name="GamePasswordOnResult" nillable="true" type="q7:ResponseValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GamePasswordOff">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GamePasswordOffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" minOccurs="0" name="GamePasswordOffResult" nillable="true" type="q8:ResponseValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameDifficulty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="difficulty" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameDifficultyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" minOccurs="0" name="GameDifficultyResult" nillable="true" type="q9:ResponseValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameLength">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="length" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameLengthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" minOccurs="0" name="GameLengthResult" nillable="true" type="q10:ResponseValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameDifficultyAndLength">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="difficulty" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="length" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameDifficultyAndLengthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" minOccurs="0" name="GameDifficultyAndLengthResult" nillable="true" type="q11:ResponseValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminSay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminSayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" minOccurs="0" name="AdminSayResult" nillable="true" type="q12:ResponseValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pause">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PauseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" minOccurs="0" name="PauseResult" nillable="true" type="q13:ResponseValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="telegramUUID" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="roles" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" minOccurs="0" name="AddUserResult" nillable="true" type="q15:ResponseValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="telegramUUID" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="roles" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" minOccurs="0" name="RemoveUserResult" nillable="true" type="q17:ResponseValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" minOccurs="0" name="TestResult" nillable="true" type="q18:ResponseValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Setup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chatId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" minOccurs="0" name="SetupResult" nillable="true" type="q19:ResponseValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>