tbot-client/Connected Services/KF2ServiceReference/KF2Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KF2Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IKF2Service_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:BasicAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/KF2Service/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/KF2Service/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/KF2Service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/KF2Service/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKF2Service_Status_InputMessage">
    <wsdl:part name="parameters" element="tns:Status" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_Status_OutputMessage">
    <wsdl:part name="parameters" element="tns:StatusResponse" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_ChangeGameType_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeGameType" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_ChangeGameType_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeGameTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_ChangeMap_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeMap" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_ChangeMap_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeMapResponse" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_ChangeGametypeAndMap_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeGametypeAndMap" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_ChangeGametypeAndMap_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeGametypeAndMapResponse" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_Online_InputMessage">
    <wsdl:part name="parameters" element="tns:Online" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_Online_OutputMessage">
    <wsdl:part name="parameters" element="tns:OnlineResponse" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_Kick_InputMessage">
    <wsdl:part name="parameters" element="tns:Kick" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_Kick_OutputMessage">
    <wsdl:part name="parameters" element="tns:KickResponse" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_GamePasswordOn_InputMessage">
    <wsdl:part name="parameters" element="tns:GamePasswordOn" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_GamePasswordOn_OutputMessage">
    <wsdl:part name="parameters" element="tns:GamePasswordOnResponse" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_GamePasswordOff_InputMessage">
    <wsdl:part name="parameters" element="tns:GamePasswordOff" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_GamePasswordOff_OutputMessage">
    <wsdl:part name="parameters" element="tns:GamePasswordOffResponse" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_GameDifficulty_InputMessage">
    <wsdl:part name="parameters" element="tns:GameDifficulty" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_GameDifficulty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GameDifficultyResponse" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_GameLength_InputMessage">
    <wsdl:part name="parameters" element="tns:GameLength" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_GameLength_OutputMessage">
    <wsdl:part name="parameters" element="tns:GameLengthResponse" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_GameDifficultyAndLength_InputMessage">
    <wsdl:part name="parameters" element="tns:GameDifficultyAndLength" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_GameDifficultyAndLength_OutputMessage">
    <wsdl:part name="parameters" element="tns:GameDifficultyAndLengthResponse" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_AdminSay_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminSay" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_AdminSay_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminSayResponse" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_Pause_InputMessage">
    <wsdl:part name="parameters" element="tns:Pause" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_Pause_OutputMessage">
    <wsdl:part name="parameters" element="tns:PauseResponse" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_RemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_RemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IKF2Service_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="IKF2Service">
    <wsdl:operation name="Status">
      <wsdl:input wsaw:Action="http://tempuri.org/IKF2Service/Status" message="tns:IKF2Service_Status_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKF2Service/StatusResponse" message="tns:IKF2Service_Status_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeGameType">
      <wsdl:input wsaw:Action="http://tempuri.org/IKF2Service/ChangeGameType" message="tns:IKF2Service_ChangeGameType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKF2Service/ChangeGameTypeResponse" message="tns:IKF2Service_ChangeGameType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeMap">
      <wsdl:input wsaw:Action="http://tempuri.org/IKF2Service/ChangeMap" message="tns:IKF2Service_ChangeMap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKF2Service/ChangeMapResponse" message="tns:IKF2Service_ChangeMap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeGametypeAndMap">
      <wsdl:input wsaw:Action="http://tempuri.org/IKF2Service/ChangeGametypeAndMap" message="tns:IKF2Service_ChangeGametypeAndMap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKF2Service/ChangeGametypeAndMapResponse" message="tns:IKF2Service_ChangeGametypeAndMap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Online">
      <wsdl:input wsaw:Action="http://tempuri.org/IKF2Service/Online" message="tns:IKF2Service_Online_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKF2Service/OnlineResponse" message="tns:IKF2Service_Online_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Kick">
      <wsdl:input wsaw:Action="http://tempuri.org/IKF2Service/Kick" message="tns:IKF2Service_Kick_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKF2Service/KickResponse" message="tns:IKF2Service_Kick_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GamePasswordOn">
      <wsdl:input wsaw:Action="http://tempuri.org/IKF2Service/GamePasswordOn" message="tns:IKF2Service_GamePasswordOn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKF2Service/GamePasswordOnResponse" message="tns:IKF2Service_GamePasswordOn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GamePasswordOff">
      <wsdl:input wsaw:Action="http://tempuri.org/IKF2Service/GamePasswordOff" message="tns:IKF2Service_GamePasswordOff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKF2Service/GamePasswordOffResponse" message="tns:IKF2Service_GamePasswordOff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GameDifficulty">
      <wsdl:input wsaw:Action="http://tempuri.org/IKF2Service/GameDifficulty" message="tns:IKF2Service_GameDifficulty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKF2Service/GameDifficultyResponse" message="tns:IKF2Service_GameDifficulty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GameLength">
      <wsdl:input wsaw:Action="http://tempuri.org/IKF2Service/GameLength" message="tns:IKF2Service_GameLength_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKF2Service/GameLengthResponse" message="tns:IKF2Service_GameLength_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GameDifficultyAndLength">
      <wsdl:input wsaw:Action="http://tempuri.org/IKF2Service/GameDifficultyAndLength" message="tns:IKF2Service_GameDifficultyAndLength_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKF2Service/GameDifficultyAndLengthResponse" message="tns:IKF2Service_GameDifficultyAndLength_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminSay">
      <wsdl:input wsaw:Action="http://tempuri.org/IKF2Service/AdminSay" message="tns:IKF2Service_AdminSay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKF2Service/AdminSayResponse" message="tns:IKF2Service_AdminSay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pause">
      <wsdl:input wsaw:Action="http://tempuri.org/IKF2Service/Pause" message="tns:IKF2Service_Pause_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKF2Service/PauseResponse" message="tns:IKF2Service_Pause_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IKF2Service/AddUser" message="tns:IKF2Service_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKF2Service/AddUserResponse" message="tns:IKF2Service_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IKF2Service/RemoveUser" message="tns:IKF2Service_RemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKF2Service/RemoveUserResponse" message="tns:IKF2Service_RemoveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IKF2Service/Test" message="tns:IKF2Service_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKF2Service/TestResponse" message="tns:IKF2Service_Test_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKF2Service" type="tns:IKF2Service">
    <wsp:PolicyReference URI="#BasicHttpBinding_IKF2Service_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Status">
      <soap:operation soapAction="http://tempuri.org/IKF2Service/Status" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeGameType">
      <soap:operation soapAction="http://tempuri.org/IKF2Service/ChangeGameType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeMap">
      <soap:operation soapAction="http://tempuri.org/IKF2Service/ChangeMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeGametypeAndMap">
      <soap:operation soapAction="http://tempuri.org/IKF2Service/ChangeGametypeAndMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Online">
      <soap:operation soapAction="http://tempuri.org/IKF2Service/Online" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Kick">
      <soap:operation soapAction="http://tempuri.org/IKF2Service/Kick" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GamePasswordOn">
      <soap:operation soapAction="http://tempuri.org/IKF2Service/GamePasswordOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GamePasswordOff">
      <soap:operation soapAction="http://tempuri.org/IKF2Service/GamePasswordOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameDifficulty">
      <soap:operation soapAction="http://tempuri.org/IKF2Service/GameDifficulty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameLength">
      <soap:operation soapAction="http://tempuri.org/IKF2Service/GameLength" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameDifficultyAndLength">
      <soap:operation soapAction="http://tempuri.org/IKF2Service/GameDifficultyAndLength" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminSay">
      <soap:operation soapAction="http://tempuri.org/IKF2Service/AdminSay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pause">
      <soap:operation soapAction="http://tempuri.org/IKF2Service/Pause" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IKF2Service/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap:operation soapAction="http://tempuri.org/IKF2Service/RemoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IKF2Service/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KF2Service">
    <wsdl:port name="BasicHttpBinding_IKF2Service" binding="tns:BasicHttpBinding_IKF2Service">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/KF2Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>