tbot-client/Connected Services/Settings/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/SettingsService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" />
  <xs:element name="GameDifficulty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="difficulty" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameDifficultyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" minOccurs="0" name="GameDifficultyResult" nillable="true" type="q1:ResponseValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameLength">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="length" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameLengthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" minOccurs="0" name="GameLengthResult" nillable="true" type="q2:ResponseValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameDifficultyAndLength">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="difficulty" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="length" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameDifficultyAndLengthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" minOccurs="0" name="GameDifficultyAndLengthResult" nillable="true" type="q3:ResponseValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>