tbot-client/Connected Services/Settings/SettingsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SettingsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ISettingsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:BasicAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/SettingsService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/SettingsService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/SettingsService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/SettingsService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISettingsService_General_Game_GameDifficulty_InputMessage">
    <wsdl:part name="parameters" element="tns:General_Game_GameDifficulty" />
  </wsdl:message>
  <wsdl:message name="ISettingsService_General_Game_GameDifficulty_OutputMessage">
    <wsdl:part name="parameters" element="tns:General_Game_GameDifficultyResponse" />
  </wsdl:message>
  <wsdl:message name="ISettingsService_General_Game_GameLength_InputMessage">
    <wsdl:part name="parameters" element="tns:General_Game_GameLength" />
  </wsdl:message>
  <wsdl:message name="ISettingsService_General_Game_GameLength_OutputMessage">
    <wsdl:part name="parameters" element="tns:General_Game_GameLengthResponse" />
  </wsdl:message>
  <wsdl:message name="ISettingsService_General_Game_GameDifficultyAndLength_InputMessage">
    <wsdl:part name="parameters" element="tns:General_Game_GameDifficultyAndLength" />
  </wsdl:message>
  <wsdl:message name="ISettingsService_General_Game_GameDifficultyAndLength_OutputMessage">
    <wsdl:part name="parameters" element="tns:General_Game_GameDifficultyAndLengthResponse" />
  </wsdl:message>
  <wsdl:portType name="ISettingsService">
    <wsdl:operation name="General_Game_GameDifficulty">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettingsService/General_Game_GameDifficulty" message="tns:ISettingsService_General_Game_GameDifficulty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettingsService/General_Game_GameDifficultyResponse" message="tns:ISettingsService_General_Game_GameDifficulty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="General_Game_GameLength">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettingsService/General_Game_GameLength" message="tns:ISettingsService_General_Game_GameLength_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettingsService/General_Game_GameLengthResponse" message="tns:ISettingsService_General_Game_GameLength_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="General_Game_GameDifficultyAndLength">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettingsService/General_Game_GameDifficultyAndLength" message="tns:ISettingsService_General_Game_GameDifficultyAndLength_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettingsService/General_Game_GameDifficultyAndLengthResponse" message="tns:ISettingsService_General_Game_GameDifficultyAndLength_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISettingsService" type="tns:ISettingsService">
    <wsp:PolicyReference URI="#BasicHttpBinding_ISettingsService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="General_Game_GameDifficulty">
      <soap:operation soapAction="http://tempuri.org/ISettingsService/General_Game_GameDifficulty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="General_Game_GameLength">
      <soap:operation soapAction="http://tempuri.org/ISettingsService/General_Game_GameLength" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="General_Game_GameDifficultyAndLength">
      <soap:operation soapAction="http://tempuri.org/ISettingsService/General_Game_GameDifficultyAndLength" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SettingsService">
    <wsdl:port name="BasicHttpBinding_ISettingsService" binding="tns:BasicHttpBinding_ISettingsService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/SettingsService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>