tbot-client/Connected Services/Miscellaneous/MiscellaneousService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MiscellaneousService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IMiscellaneousService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:BasicAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/MiscellaneousService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/MiscellaneousService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/MiscellaneousService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/MiscellaneousService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMiscellaneousService_AdminSay_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminSay" />
  </wsdl:message>
  <wsdl:message name="IMiscellaneousService_AdminSay_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminSayResponse" />
  </wsdl:message>
  <wsdl:message name="IMiscellaneousService_Pause_InputMessage">
    <wsdl:part name="parameters" element="tns:Pause" />
  </wsdl:message>
  <wsdl:message name="IMiscellaneousService_Pause_OutputMessage">
    <wsdl:part name="parameters" element="tns:PauseResponse" />
  </wsdl:message>
  <wsdl:message name="IMiscellaneousService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IMiscellaneousService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMiscellaneousService_RemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="IMiscellaneousService_RemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMiscellaneousService_Status_InputMessage">
    <wsdl:part name="parameters" element="tns:Status" />
  </wsdl:message>
  <wsdl:message name="IMiscellaneousService_Status_OutputMessage">
    <wsdl:part name="parameters" element="tns:StatusResponse" />
  </wsdl:message>
  <wsdl:message name="IMiscellaneousService_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IMiscellaneousService_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="IMiscellaneousService">
    <wsdl:operation name="AdminSay">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiscellaneousService/AdminSay" message="tns:IMiscellaneousService_AdminSay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiscellaneousService/AdminSayResponse" message="tns:IMiscellaneousService_AdminSay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pause">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiscellaneousService/Pause" message="tns:IMiscellaneousService_Pause_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiscellaneousService/PauseResponse" message="tns:IMiscellaneousService_Pause_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiscellaneousService/AddUser" message="tns:IMiscellaneousService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiscellaneousService/AddUserResponse" message="tns:IMiscellaneousService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiscellaneousService/RemoveUser" message="tns:IMiscellaneousService_RemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiscellaneousService/RemoveUserResponse" message="tns:IMiscellaneousService_RemoveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Status">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiscellaneousService/Status" message="tns:IMiscellaneousService_Status_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiscellaneousService/StatusResponse" message="tns:IMiscellaneousService_Status_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiscellaneousService/Test" message="tns:IMiscellaneousService_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiscellaneousService/TestResponse" message="tns:IMiscellaneousService_Test_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMiscellaneousService" type="tns:IMiscellaneousService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IMiscellaneousService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdminSay">
      <soap:operation soapAction="http://tempuri.org/IMiscellaneousService/AdminSay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pause">
      <soap:operation soapAction="http://tempuri.org/IMiscellaneousService/Pause" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IMiscellaneousService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap:operation soapAction="http://tempuri.org/IMiscellaneousService/RemoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Status">
      <soap:operation soapAction="http://tempuri.org/IMiscellaneousService/Status" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IMiscellaneousService/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiscellaneousService">
    <wsdl:port name="BasicHttpBinding_IMiscellaneousService" binding="tns:BasicHttpBinding_IMiscellaneousService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/MiscellaneousService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>