tbot-client/Connected Services/AccessPolicy/AccessPolicyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccessPolicyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IAccessPolicyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:BasicAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/AccessPolicyService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/AccessPolicyService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/AccessPolicyService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/kf2server_tbot_client.Utils" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/AccessPolicyService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccessPolicyService_GamePasswordOn_InputMessage">
    <wsdl:part name="parameters" element="tns:GamePasswordOn" />
  </wsdl:message>
  <wsdl:message name="IAccessPolicyService_GamePasswordOn_OutputMessage">
    <wsdl:part name="parameters" element="tns:GamePasswordOnResponse" />
  </wsdl:message>
  <wsdl:message name="IAccessPolicyService_GamePasswordOff_InputMessage">
    <wsdl:part name="parameters" element="tns:GamePasswordOff" />
  </wsdl:message>
  <wsdl:message name="IAccessPolicyService_GamePasswordOff_OutputMessage">
    <wsdl:part name="parameters" element="tns:GamePasswordOffResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccessPolicyService">
    <wsdl:operation name="GamePasswordOn">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccessPolicyService/GamePasswordOn" message="tns:IAccessPolicyService_GamePasswordOn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccessPolicyService/GamePasswordOnResponse" message="tns:IAccessPolicyService_GamePasswordOn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GamePasswordOff">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccessPolicyService/GamePasswordOff" message="tns:IAccessPolicyService_GamePasswordOff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccessPolicyService/GamePasswordOffResponse" message="tns:IAccessPolicyService_GamePasswordOff_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccessPolicyService" type="tns:IAccessPolicyService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IAccessPolicyService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GamePasswordOn">
      <soap:operation soapAction="http://tempuri.org/IAccessPolicyService/GamePasswordOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GamePasswordOff">
      <soap:operation soapAction="http://tempuri.org/IAccessPolicyService/GamePasswordOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccessPolicyService">
    <wsdl:port name="BasicHttpBinding_IAccessPolicyService" binding="tns:BasicHttpBinding_IAccessPolicyService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/AccessPolicyService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>